/* ========== CSS RESPONSIVO ========== */
@media (max-width: 1024px) {
  * {
    box-sizing: border-box;

  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  .header {
    padding: 0;
    /* Espaçamento interno */
    width: 100%;

  }

  .menu-aberto {
    position: fixed;
    top: 45px;
    /* substitui o margin */
    height: calc(100vh - 44px);
    /* ajusta a altura para compensar */
  }


  .logo-topo img {
    width: 35%;

  }

  .menu svg {
    width: 80%;

  }

  /*.menu-aberto*/

  .inicio h1 {
    font-size: 2.5rem;
    white-space: nowrap;
  }

  .word-rotator {
    font-size: 2rem;
  }

  .sobre {
    margin-top: 50px;
    height: 100%;

  }

  .sobre h2 {
    font-size: 3.5rem;

  }

  .flex {
    flex-direction: column-reverse;
    width: 365px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* Centraliza horizontalmente */
    justify-content: center;
    /* Centraliza verticalmente, se altura permitir */

  }

  .container-sobre {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-50%);
    transition: all 2s ease;
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  .img-foto {
    position: relative;
    margin-top: 100px;
    z-index: 10
  }

  .img-foto img {
    width: 70%;
  }

  .complemento-sobre {
    position: relative;
    margin-top: -270px;
    z-index: 1;
  }

  .complemento-sobre img {
    width: 80%;
  }

  .btn-pdf {
    position: absolute;
    left: auto
      /*auto*/
    ;
    top: 570px;
    /* ou qualquer valor desejado */

  }



  .btn-pdf button {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .box-sobre {
    margin-top: -50px;
    margin: 0px 30px;
    box-shadow: 0 12px 32px rgba(130, 2, 250, 0.6);
  }

  .box-sobre h3 {
    font-size: 1.5rem;
  }

  .box-sobre p {
    font-size: .9rem;
  }

  .sobre-skills {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px;

  }

  .img-softs {
    max-width: 330px;
  }

  .img-skills i img {
    max-width: 50px;
    max-height: 50px;
  }

  .img-2 {
    max-width: 330px;
  }

  .img-12 i img {
    max-width: 50px;
    max-height: 50px;
  }

  .img-p3 {
    max-width: 330px;
  }

  .img-p13 i img {
    max-width: 50px;
    max-height: 50px;
  }

  .img-p4 {
    max-width: 330px;
  }

  .img-p14 i img {
    max-width: 50px;
    max-height: 50px;
  }

  /*******PORTFOLIO********/
  .portfolio {
    height: 100%;
    width: 100%;
  }

  .portfolio h1 {
    font-size: 3.5rem;
  }

  .container-portfolio {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-50%);
    transition: all 2s ease;
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  .flex-portfolio {
    flex-direction: column;
    width: 365px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* Centraliza horizontalmente */
    justify-content: center;
    /* Centraliza verticalmente, se altura permitir */

  }

  .card {
    margin: 0px 20px;
  }

  /*******SERVICOS*******/

  .projectSection {
    /* margin-top: 5rem; */
    /* background-color: #000000; */
    /* background-color:  rgb(30, 30, 30); */
    width: 100%;
  }

  .container-projetos {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-50%);
    transition: all 2s ease;
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  .projectCard {
    margin: 2rem auto;
    box-shadow: 0px 0px 1000px rgba(102, 5, 53, 0.765);
  }

  .formulario {
    width: 85%;
  }

  .container-contato {
    width: 100%;
    padding: 3rem 5rem 10rem;
  }


}